@import "./utils/settings.scss";


// ****************************************************** //
// ***************Page d'accueil************************* //
.connectModal {
    margin-top: 6%;
    height: 60%;
    width: 20%;
    background: $white;
    border: 1.5px solid $black;
    border-radius: 5px;
    .btn-container {
        display: flex;
        justify-content: space-around;

        .btn-1 {
            border: none;
            height: 100%;
            width: 100%;
            padding: 20px 0;
            border-radius: 5px 0 0 0;
        }
        .btn-2 {
            border: none;
            height: 100%;
            width: 100%;
            padding: 20px 0;
            border-radius: 0 5px 0 0;

        }
    }
};

// ****************************************************** //
// ***************Header********************************* //
.header {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80px;
    background: $white;
    border-bottom: 2px solid $black;
};


// ****************************************************** //
// ***************Formulaire d'accueil******************* //
.form-container {
    .title {
        text-align: center;
        margin-top: 5%;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        height: 350px;
    }
    input {
        margin: 15px ;
        padding: 8px 10px;
        width: 70%;
    }
    button {
        margin: 25px;
        width: 40%;
        padding: 8px 10px;
        cursor: pointer;
        align-items: center;
    }
    p {
        margin-top: 15%;
        margin-left: 5%;
    }
};

.signup-error {
    color: red;
    font-size: 0.95rem;
    width: 100%;
    text-align: center;
}

.login-error {
    color: red;
    margin-top: 10px;
}

// ****************************************************** //
// ***************Page centrale************************** //
.post-container {
    margin-top: 90px;
    width: 55%;
    height: 100%;
    margin-bottom: 30px;
    background-color: $tertiary-color;
    border-radius: 15px;
};

.navbar {
    position: absolute;
    top: 25px;
    right: 250px;
    width: 20%;
}


.under-navbar {
   display: flex;
   justify-content: space-around;
   
}

.btn-navbar {
    border: none;
    background: none;
    font-size: 1.2rem;
}

// ****************************************************** //
// ***************Creation d'un post********************* //

.createPost-container {
    height: 100%;
    width: 100%;
    .formPost-container {
        margin: 15px 10px;
        background-color: $white;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border: 1px solid black;
    };
    .formCreate-container{
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }    
    .text-container {
        resize: none;
        width: 100%;
        margin-top: 25px;
        border: 1px solid black;
        border-radius: 15px;
        padding-left: 30px;
        font-size: 1.05rem;
        padding-top: 20px;
    };
    
    .add-picture-container {
        margin-top: 30px;
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    };
    
    .inpute-add-picture {
        display: none;
    }
    
    .add-picture {
        margin-right: 25px;
    }
    
    .preview-picture {
        margin-top: 20px;
        position: relative;
    }
    
    .btn {
        cursor: pointer;
        border: none;
        background: white;
    }
    
    .btn-add-picture {
        border: 1ps solid black;
        border-radius: 20px;
        background: gainsboro;
        padding: 20px 10px;
        font-size: 1rem;
        cursor: pointer;
    }
    
    .delete-picture-preview {
        margin-left: 30px;
    }
    
    .icone{
        font-size: 1.2rem;
        background-color: white;
    }
}

// ****************************************************** //
// ***************Liste de post************************** //
// .feed-container {
//     height: 100%;
//     width: 100%;
// };

.feed-title {
    margin: 30px;
    color: white;
    letter-spacing: 1.5px
};

.feed-list {
    list-style-type: none;
    display: grid;
    margin: 10px 10px 70px 10px;
    gap: 35px;
};

.post-card {
    border: 1px solid black;
    background: white;
    height: 100%;
    border-radius: 15px;
};

.publication-user {
    margin: 15px 5px 0 5px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    
};

.author-post {
    font-weight: bold;
    font-size: 1.2rem;
}

.date {
    font-style: italic;
    font-size: 0.8rem;
    margin-top: 5px;
}
.commentaire {
    border-bottom: 1px solid black;
    margin: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

.date-post {
    padding-top: 5px;
    font-size: 0.95rem;
    
}

.post {
    padding: 15px 20px;
    margin: 0 15px;
}

.post-content {
    font-size: 1.1rem;
}

.center {
    display: flex;
    justify-content: center;
}

.picture {
    margin-top: 25px;

}

.option-post{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    margin: 15px 5px;
    padding-bottom: 20px;

}

.update-post {
    margin-right: 30px;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    background: white;
    :hover {
        color: green;
        transition: 0.2s;
    }

}
.delete-post{
    :hover {
        color: red;
        transition: 0.2s;
    }
}



// ****************************************************** //
// ***************Ajouter un com************************* //

.create-com {
    width: 100%;
    display: flex;

};

.com-container {
    resize: none;
    font-size: 0.95rem;
    width: 60%;
    height: 50px;
    padding: 13px 20px;
    margin: 10px 5px;
    border: 1px solid black;
    border-radius: 5px;
};

.btn-com {
    cursor: pointer;
    border: none;
    background: white;
    font-size: 1.2rem;
    margin-left: 15px;
}

// ****************************************************** //
// ***************Liste de com-************************** //
.card-com {
    margin:  0 5px;
    border: 1px solid black;
    border-radius: 5px;
    background: #dcdcdca6;
}

.card-com-container {
    display: grid;
    gap: 5px;
}

.coms {
    display: flex;
    justify-content: space-between;
}

.coms-container {
    display: flex;
    flex-direction: column;
    padding: 15px;

}
.author-com {
    font-size: 1rem;
    margin-right: 10px;
    font-weight: bold;
}
.author-com-container {
    display: flex;
}

.com-content {
    margin-top: 10px;
}

.delete-com {
    margin-right: 15px;
    font-size: 1.1rem;
    border: none;
    background: none;
    cursor: pointer;
    :hover {
        color: red;
        transition: 0.2s;
    }
}

.date-com {
    padding-left: 10px;
    padding-top: 5px;
}

// ****************************************************** //
// ***************Modif post---************************** //
.update-post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.new-post {
    resize: none;
    width: 95%;
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.update-file {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 15px;
}

.delete-picture {
    height: 10%;
    font-size: 1.2rem;
    border: none;
    background: none;
    margin-left: 30px;
    cursor: pointer
}
.input-update-picture {
    display: none;
}

.check-update {
   border: none;
   background: white;
   cursor: pointer;
} 

.update-picture {
    margin-right: 20px;
    cursor: pointer;
}

.size {
    font-size: 1.2rem;
    
}

.preview-picture {
    width: 100%;
    display: flex;
    justify-content: center;
}
.option-post-1 {
    display: flex;
    justify-content: flex-end;
}

// ****************************************************** //
// ***************Page profil des utilisateurs*********** //
.profil-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.profil-container {
    width: 28%;
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
    margin-top: 55px;

    .profil-container--form{
        display: flex;
        flex-direction: column;
        padding: 50px 80px;
    }
    .btn-update-container {
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
        .btn-update {
            border: none;
            font-size: 1.2rem;
            background: none;
            cursor: pointer;
        }
    }
    .form--input--container{
        display: flex;
        justify-content: space-between;
        margin: 15px;
    }
    .form--label {
        // margin-bottom: 10px;
        font-size: 1.2rem;
        padding: 5px;
    }
    .form--input {
        padding: 5px;
        font-size: 1.2rem;
        // margin-left: 40px;
    }
    .exit-profil {
        border: none;
        background: none;

    }

    .update-profil-container{
        margin-top: 40px;
        .update-profil {
            width: 100%;
            height: 40px;
            font-size: 1.2rem;
        }
    }

    .btn-delete-profil-container {
        margin: 40px 0px;
        .btn-delete-profil{
            width: 100%;
            height: 40px;
            font-size: 1.2rem;
            background-color: $secondary-color;
            border: 1px solid black;
        }
    }
}
@import "./utils/responsiv-1400px.scss";
@import "./utils/responsive-1200px.scss";
@import "./utils/responsive-992px.scss";
@import "./utils/responsive-768px.scss";
@import "./utils/responsive-576px.scss";
@import "./utils/reponsive-390px.scss"