@import '../../style/settings.scss';

.connectModal {
    margin-top: 6%;
    height: 60%;
    width: 20%;
    background: $white;
    border: 1.5px solid $black;
    border-radius: 5px;
    .btn-container {
        display: flex;
        justify-content: space-around;

        .btn-1 {
            border: none;
            height: 100%;
            width: 100%;
            padding: 20px 0;
            border-radius: 5px 0 0 0;
        }
        .btn-2 {
            border: none;
            height: 100%;
            width: 100%;
            padding: 20px 0;
            border-radius: 0 5px 0 0;

        }
    }
}