@import '../../style/settings.scss';

.connectModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $white;
    margin-top: 5%;
    width: 30%;
    border-radius: 15px;
    height: 65%;
    border: 1.5px solid $black;
    .btn-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        .btn-1 {
            font-size: 1.3rem;
            border: none;
            width: 100%;
            border-radius: 15px 0 0 0;
            padding: 15px 0;
        }
        .btn-2 {
            font-size: 1.3rem;
            padding: 15px 0;
            border: none;
            width: 100%;
            border-radius: 0 15px 0 0;
        }
    }
}