@media screen and (max-width: 992px){
    .navbar{
        right: 60px;
    }
    .connectModal {
        width: 33%;
    }
    .post-container {
        width: 70%;
    }
    .btn-profil {
        right: 200px;
    }
    .profil-container {
        width: 40%;
    }

}