@media screen and (max-width: 1200px){
    .navbar-2 {
        display: none;
    }
    .btn-logout {
        display: none;
    }
    .logo-2 {
        display: none;
    }
    .profil-container {
        width: 35%;
    }
}