// Variables
$primary-color: #FD2D01;
$secondary-color: #FFD7D7;
$tertiary-color: #4E5166;
$white: #ffffff;
$black: #000000;

// font
@font-face {
    font-family: "robotoSlap";
    src: url("../../font/static/RobotoSlab-Regular.ttf");
}

// Page
* {
    font-family: "robotoSlap";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: $primary-color;
    overflow: hidden;
  }

main {
    display: flex;
    justify-content: center;
    height: 100vh;
}