@import '../../style/settings.scss';

.form-container {
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 13%;
    }
    input {
        margin: 15px ;
        padding: 8px 10px;
        width: 70%;
    }
    button {
        margin-top: 25px;
        width: 40%;
        padding: 8px 10px;
    }
    p {
        margin-top: 20px;
        margin-left: 10px;
    }
}